.table {
    margin: 1em;
    display: flex;
    flex-direction: column;
    
    .header, .row {
      display: flex;
      div {
        flex: 1;
        padding: 0.5rem 0.5em;
        // border: 1px solid #bd93f9;
      }
    }
    
    .header {
      background-color: #44475a;
      color:#50fa7b;
    }
  }