.table {
  margin: 1em;
  display: flex;
  flex-direction: column; }
  .table .header, .table .row {
    display: flex; }
    .table .header div, .table .row div {
      flex: 1;
      padding: 0.5rem 0.5em; }
  .table .header {
    background-color: #44475a;
    color: #50fa7b; }
