.search-bar {
    text-align: center;
    display: inline-block;
    width: 100vw;
    margin: 20px auto;
        input {
            padding: 12px;
            border-radius: 5px;
            border: 1px solid transparent;
            outline: none;
            background: #44475a;
            color: #8be9fd;
            font-size: 18px;
            text-align: center;
        }
    input:focus {
    border: 1px solid #8be9fd;
  }
}