.search-bar {
    text-align: center;
    display: inline-block;
    width: 100vw;
    margin: 30px auto 0px;
        input {
            padding: 12px;
            width: 500px;
            border-radius: 2px;
            border: 1px solid transparent;
            outline: none;
            color: #8be9fd;
            background: #44475a;
            font-size: 18px;
            text-align: center;
        }
    input:focus {
    border: 1px solid #8be9fd;
  }
    input::placeholder{
        color: #8be9fd;
    }
}